<style>
  .navbar-brand {
    font-weight: bold;
    color: #fff;
  }

  .nav-link {
    color: #fff;
  }

  .navbar {
    background-color: #343a40;
  }

  .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  .nav-link:hover, .nav-link.active {
    color: #ffdd57;
  }

  .dropdown-menu {
    background-color: #343a40;
    border: none;
  }

  .dropdown-item {
    color: #fff;
  }

  .dropdown-item:hover {
    background-color: #495057;
  }
</style>
</head>
<body>

<nav class="navbar navbar-expand-lg">
<div class="container-fluid">
  <a class="navbar-brand" href="#">Blogify</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/home">Home</a>
      </li>
      <% if (locals.user) { %>
        <li class="nav-item">
          <a class="nav-link" href="/blog/addNew">Add Blog</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= user.fullName %>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/user/logout">LogOut</a></li>
          </ul>
        </li>
      <% } else { %>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/user/signup">Create Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/user/signin">SignIn</a>
        </li>
      <% } %>
    </ul>
  </div>
</div>
</nav>

<% if (locals.error) { %>
<div class="alert alert-danger" role="alert">
  <%= locals.error %>
</div>
<% } %>